<nav class="navbar navbar-expand-sm navbar-light mb-3" style="background-color: #2bcf18">
  <div class="container">
    <a class="navbar-brand" style="color: #ffffff" href="/">Workmate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trial">Trial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ffffff" href="/signup">Sign Up</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Already a user?</a>
        </li>
        <a href="/login" class="btn btn-dark btn-outline-success my-2 my-sm-0" style="color: #ffffff">Login</a>
      </ul>
    </div>
  </div>
</nav>
<footer class="footer" style="background-color: #2bcf18">
  <div class="container">
    <span style="color:#ffffff">All rights reserved &copy Workmate 2017. To find out more information please read our <a href="/terms">terms & conditions</a></span>
  </div>
</footer>