<div class="text-centre">

  <h1 class="display-2" style="color: #2bcf18">{{title}}</h1>

  <h1 class="display-5">Effortless scheduling at the touch of a button</h1>

  <p class="lead">
    Workmate helps you to easily create and edit schedules taking into accoount holidays, availability, costs and more
  </p>

  <p class="lead">
    Sign up for a free 30-day trial
  </p>

  <a href="/signup" class="btn btn-dark btn-lg" style="background-color: #2bcf18">Get Started</a>

</div>